<!-- app/views/pages/home.html.erb -->
<br><br><br><br><br><br>
<h1>Welcome to the Home Page</h1>

<% @products.each do |product| %>
  <div>
    <%= image_tag product.image if product.image.attached? %>
    <h2><%= product.price_per_day.to_i == product.price_per_day ? product.price_per_day.to_i : product.price_per_day %></h2>
    <p><%= product.title %></p>
    <p><%= product.description %></p>
    <!-- Add more details as needed -->
  </div>
<% end %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>
