<section id="content" class="container">

  <h1 class="my-4">Welcome to the Home Page</h1>

  <div class="products-grid">
    <% @products.each do |product| %>
      <%= link_to product_path(product), class: 'product-link' do %>
        <div class="product-card">
          <%= image_tag(product.image, class: 'product-image') if product.image.attached? %>
          <div class="product-info">
            <span class="price"><%= product.price_per_day.to_i == product.price_per_day ? product.price_per_day.to_i : product.price_per_day %>€</span>
            <p class="title"><%= product.title %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

</section>
